<form method="POST" action="<?php echo base_url('design/addEquipment'); ?>" enctype="multipart/form-data" style="margin: 10px">
    <table border="0" width="100%">
        <tr>
            <td>
                <label for="img">zddddddddddddddddddddjnckjn</label>
                <input type="file" name="img" id="img"/>
            </td>
        </tr>
        <tr>
            <td> <img id="preview" src="public/images/awaiting-image.png" alt="your image" style="max-width: 100%;"/></td>
        </tr>
        <tr>
            <td>
                <input type="submit" />
            </td>
        </tr>
    </table>
</form>