<form method="POST" action="<%= URL + 'design/addEquipment' %>" enctype="multipart/form-data" style="margin: 10px">
    <input type="hidden" name="id_parent" id="id_parent" value=""/>
    <input type="hidden" name="level" id="level" value="1"/>
    <table border="0" width="100%">
        <tr>
            <td>
                <label for="img">Select Image</label>
                <input type="file" name="img" id="img"/>
                <label for="img_name">Title :</label>
                <input type="text" name="img_name" id="img_name" style="margin: 5px;padding: 3px;width: 300px"/>
            </td>
        </tr>
        <tr>
            <td>
                <img id="preview" src="public/images/awaiting-image.png" alt="your image" style="max-width: 100%;border: 1px solid"/>
            </td>
        </tr>
        <tr>
            <td>
                <table class="table" width="500px">
                    <thead>
                        <tr>
                            <th width="30px"><a class='plus_icon'></a></th>
                            <th>Sub Category</th>
                            <th width="50px"></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="sub_cat_list"></tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" style="float: right"/>
            </td>
        </tr>
    </table>
</form>