<table width="100%">
    <tr>
        <td></td>
    </tr>
    <tr>
        <td><img src="<%= URL + url %>" style="max-width: 100%;max-height: 500px"/></td>
    </tr>
    <tr>
        <td>
            <table class="table" width="100%">
                <thead>
                    <tr>
                        <th rowspan="2">Ref No.</th>
                        <th rowspan="2">PART No.</th>
                        <th rowspan="2">PART NAME</th>
                        <th>Q'TY/S. No.</th>
                        <th rowspan="2">i.c.</th>
                        <th rowspan="2">REMARKS</th>
                    </tr>
                    <tr>
                        <th>A</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td style="text-align: center">4</td>
                        <td>5</td>
                        <td>6</td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
