<table width="100%">
    <tr>
        <td><img src="<%= URL + url %>" style="max-width: 100%;max-height: 600px" usemap="#ozMap"/></td>
    </tr>
    <%
    if(typeof part != 'undefined' && part.length != 0){
    %>
    <tr>
        <td>
            <table class="table" width="100%">
                <thead>
                    <tr>
                        <th rowspan="2">Ref No.</th>
                        <th rowspan="2">PART No.</th>
                        <th rowspan="2">PART NAME</th>
                        <th>Q'TY/S. No.</th>
                        <th rowspan="2">i.c.</th>
                        <th rowspan="2">REMARKS</th>
                    </tr>
                    <tr>
                        <th>A</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                    _.each(part,function(p){
                    %>
                    <tr>
                        <td><%= p.id_equipment %></td>
                        <td><%= p.part_no %></td>
                        <td><%= p.description %></td>
                        <td style="text-align: center">4</td>
                        <td></td>
                        <td><input type="button" value="Add" /></td>
                    </tr>
                    <%
                    });
                    %>
                </tbody>
            </table>
        </td>
    </tr>
    <%
    }
    %>
</table>
<map name="ozMap">
    <%
    if(typeof map != 'undefined'){
    _.each(map,function(m){
    %>
    <area shape="<%= m.shape %>" coords="<%= m.coords %>" href="#<%= 'section/'+m.id_equipment %>" title="<%= m.description %>">
    <%
    });
    }

    if(typeof part != 'undefined'){
    _.each(part,function(m){
    %>
    <area data-partID="<%= m.id_equipment %>" shape="<%= m.shape %>" coords="<%= m.coords %>" href="#<%= 'part/'+m.id_equipment %>"  title="<%= m.description %>">
    <%
    });
    }
    %>
</map>