<table class="table" width="100%">
    <thead>
        <tr>
            <th>Ref No.</th>
            <th>Part No.</th>
            <th>Part Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <%
        _.each(list,function(r){
        %>
        <tr>
            <td style="width: 100px;text-align: center"><%= r.id_equipment %></td>
            <td></td>
            <td><%= r.description %></td>
            <td width="50px"><input type="button" value="Edit" id="edit"/></td>
            <td width="30px"><a class='min_icon'></a></td>
        </tr>
        <%
        });
        %>
    </tbody>
</table>